<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a Club!</title>
</head>
<body>
    <form action="{{ url_for('add_club') }}" method="post">
        <label for="club_code">Club Code:</label>
        <textarea rows="1" cols="7" id="club_code" name="cc" placeholder="clubcode"></textarea>

        <label for="club_tag_1">Club Tag 1:</label>
        <textarea rows="1" cols="7" id="club_tag_1" name="ct1" placeholder="clubtag1"></textarea>

        <label for="club_tag_2">Club Tag 2:</label>
        <textarea rows="1" cols="7" id="club_tag_2" name="ct2" placeholder="clubtag2"></textarea>

        <label for="club_tag_3">Club Tag 3:</label>
        <textarea rows="1" cols="7" id="club_tag_3" name="ct3" placeholder="clubtag3"></textarea>

        <p>
        <button type="submit">Submit</button>
        </p>
    </form>
</body>
</html>